<main id="profile-main">
    <section id="profile">
         <div>
             <div><img src="../assets/avatar.jpg"/></div>
             <!--<div>⭑ ✰ Dani ✰ ⭑</div>-->
             <span id="username-home">⭑ ✰ Dani ✰ ⭑</span>
         </div>
         <div>20<br/>Publicaciones</div>
         <div>20<br/>Seguidores</div>
         <div>15<br/>Solicitudes</div>
    </section>
    <section id="gallery">
         <img src="../assets/sitio1.jpg"/>
         <img src="../assets/sitio2.jpg"/>
         <img src="../assets/sitio3.jpg"/>
         <img src="../assets/sitio4.jpg"/>
         <img src="../assets/sitio5.jpg"/>
         <img src="../assets/sitio6.jpg"/>
         <img src="../assets/sitio7.jpg"/>
         <img src="../assets/sitio8.jpg"/>
         <img src="../assets/sitio9.jpg"/>
         <img src="../assets/sitio10.jpg"/>
    </section>
 </main>