<main id="profile-main">
    <section id="profile">
         <div>
             <div><img src="avatar.jpg"/></div>
             <!--<div>⭑ ✰ Dani ✰ ⭑</div>-->
             <span id="username-home">⭑ ✰ Dani ✰ ⭑</span>
         </div>
         <div>20<br/>Publicaciones</div>
         <div>20<br/>Seguidores</div>
         <div>15<br/>Solicitudes</div>
    </section>
    <section id="gallery">
         <img src="sitio1.jpg"/>
         <img src="sitio11.jpg"/>
         <img src="sitio3.jpg"/>
         <img src="sitio4.jpg"/>
         <img src="sitio5.jpg"/>
         <img src="sitio6.jpg"/>
         <img src="sitio7.jpg"/>
         <img src="sitio8.jpg"/>
         <img src="sitio9.jpg"/>
         <img src="sitio10.jpg"/>
    </section>
 </main>